//////////* Colors *//////////

$white: #ffffff;
$heading-title: #19191b;
$text-color: #696871;
$light-gray: #f8f8f8;
$purple: #5454d4;
$orange: #ff7143;
$deep-blue: #1d293f;
$dark-orange: #9f3919;

//////////* Fonts *//////////

$DMsans: "DM Sans", sans-serif;
$Mulish: "Mulish", sans-serif;
